<div class="container">
  <h1 class="text-center my-4">Nos Produits</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="{{product.title}}">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><strong>{{product.price | currency:'EUR'}}</strong></p>
          <a [routerLink]="['/product', product.id]" class="btn btn-primary">Voir Détails</a>
        </div>
      </div>
    </div>
  </div>
</div>
